.container {
  max-width: 960px;
}


/* display top menu with large screen/show toggle menu - icon relocated on small */
@media screen and (max-width: 900px) {
  div.full-screen-nav {
    display: none;
  }
  div.collapsed-nav {
    display: block;
  }
}
@media screen and (min-width: 901px) {
  div.full-screen-nav {
    display: block;
  }
  div.collapsed-nav {
    display: none;
  }
}
@media screen and (max-width: 990px) {
  .slogan{
    text-align: center;
  }
}

.shadow-custom {
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.purple {
  /*#9258ff*/
}
.blue {
  /*#52a3fe*/
  
  /* #56a0fe */
}
.blue-purple {
  /*#747aff*/
}
/* social media icon color - this is a font and can be colored/sized as a font*/
.bi-twitter, .bi-facebook{
  color: #747aff;
  font-size:2em;
}
i:hover{
  color: var(--is-purple);
}
.is-gradient {
  background: rgb(146,88,255);
  background: linear-gradient(180deg, rgba(146,88,255,1) 0%, rgba(82,163,254,1) 100%);
}

/* img {
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
} */
/*
 * Custom site header
 */

/*navigation hover colors */
nav a:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color:rgba(255, 255, 255, .1) !important;
  color: grey !important;
  /* background-color: #9258ff;
  background-color: #52a3fe;
  background-color: #747aff; */
}

.site-header {
  /*background-color: rgba(0, 0, 0, .85);*/
  background-color: #ffffff;
  /*background-color: rgba(255, 255, 255, .85);*/

  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  border-bottom: 1px solid #f8f9fa;
}
.site-header a {
  color: #8e8e8e;
  transition: color .15s ease-in-out;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

/*
 * Dummy devices (replace them with your own or something else entirely!)
 */

.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  transform: rotate(30deg);
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, .1);
  border-radius: 5px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
}


/*
 * Extra utilities
 */

.flex-equal > * {
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    flex: 1;
  }
}










/* button colors */
.btn-blue-purple {
  color: #fff;
  background-color: var(--is-purple);
  border-color: #747aff;
}
.btn-blue-purple:hover {
  color: #fff;
  background-color: #0b5ed7;
  border-color: #0a58ca;
}
.btn-check:focus + .btn-blue-purple, .btn-blue-purple:focus {
  color: #fff;
  background-color: #0b5ed7;
  border-color: #0a58ca;
  box-shadow: 0 0 0 0.25rem rgba(49, 132, 253, 0.5);
}
.btn-check:checked + .btn-blue-purple, .btn-check:active + .btn-blue-purple, .btn-blue-purple:active, .btn-blue-purple.active, .show > .btn-blue-purple.dropdown-toggle {
  color: #fff;
  background-color: #0a58ca;
  border-color: #0a53be;
}
.btn-check:checked + .btn-blue-purple:focus, .btn-check:active + .btn-blue-purple:focus, .btn-blue-purple:active:focus, .btn-blue-purple.active:focus, .show > .btn-blue-purple.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(49, 132, 253, 0.5);
}
.btn-blue-purple:disabled, .btn-blue-purple.disabled {
  color: #fff;
  background-color: #747aff;
  border-color: #747aff;
}


.btn-blue {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}
.btn-blue:hover {
  color: #fff;
  background-color: #0b5ed7;
  border-color: #0a58ca;
}
.btn-check:focus + .btn-blue, .btn-blue:focus {
  color: #fff;
  background-color: #0b5ed7;
  border-color: #0a58ca;
  box-shadow: 0 0 0 0.25rem rgba(49, 132, 253, 0.5);
}
.btn-check:checked + .btn-blue, .btn-check:active + .btn-blue, .btn-blue:active, .btn-blue.active, .show > .btn-blue.dropdown-toggle {
  color: #fff;
  background-color: #0a58ca;
  border-color: #0a53be;
}
.btn-check:checked + .btn-blue:focus, .btn-check:active + .btn-blue:focus, .btn-blue:active:focus, .btn-blue.active:focus, .show > .btn-blue.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(49, 132, 253, 0.5);
}
.btn-blue:disabled, .btn-blue.disabled {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}



.btn-purple {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}
.btn-purple:hover {
  color: #fff;
  background-color: #0b5ed7;
  border-color: #0a58ca;
}
.btn-check:focus + .btn-purple, .btn-purple:focus {
  color: #fff;
  background-color: #0b5ed7;
  border-color: #0a58ca;
  box-shadow: 0 0 0 0.25rem rgba(49, 132, 253, 0.5);
}
.btn-check:checked + .btn-purple, .btn-check:active + .btn-purple, .btn-purple:active, .btn-purple.active, .show > .btn-purple.dropdown-toggle {
  color: #fff;
  background-color: #0a58ca;
  border-color: #0a53be;
}
.btn-check:checked + .btn-purple:focus, .btn-check:active + .btn-purple:focus, .btn-purple:active:focus, .btn-purple.active:focus, .show > .btn-purple.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(49, 132, 253, 0.5);
}
.btn-purple:disabled, .btn-purple.disabled {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}


.btn-outline-blue-purple {
  color: #0d6efd;
  border-color: #0d6efd;
}
.btn-outline-blue-purple:hover {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}
.btn-check:focus + .btn-outline-blue-purple, .btn-outline-blue-purple:focus {
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.5);
}
.btn-check:checked + .btn-outline-blue-purple, .btn-check:active + .btn-outline-blue-purple, .btn-outline-blue-purple:active, .btn-outline-blue-purple.active, .btn-outline-blue-purple.dropdown-toggle.show {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}
.btn-check:checked + .btn-outline-blue-purple:focus, .btn-check:active + .btn-outline-blue-purple:focus, .btn-outline-blue-purple:active:focus, .btn-outline-blue-purple.active:focus, .btn-outline-blue-purple.dropdown-toggle.show:focus {
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.5);
}
.btn-outline-blue-purple:disabled, .btn-outline-blue-purple.disabled {
  color: #0d6efd;
  background-color: transparent;
}


.btn-outline-blue {
  color: #0d6efd;
  border-color: #0d6efd;
}
.btn-outline-blue:hover {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}
.btn-check:focus + .btn-outline-blue, .btn-outline-blue:focus {
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.5);
}
.btn-check:checked + .btn-outline-blue, .btn-check:active + .btn-outline-blue, .btn-outline-blue:active, .btn-outline-blue.active, .btn-outline-blue.dropdown-toggle.show {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}
.btn-check:checked + .btn-outline-blue:focus, .btn-check:active + .btn-outline-blue:focus, .btn-outline-blue:active:focus, .btn-outline-blue.active:focus, .btn-outline-blue.dropdown-toggle.show:focus {
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.5);
}
.btn-outline-blue:disabled, .btn-outline-blue.disabled {
  color: #0d6efd;
  background-color: transparent;
}




.btn-outline-purple {
  color: #0d6efd;
  border-color: #0d6efd;
}
.btn-outline-purple:hover {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}
.btn-check:focus + .btn-outline-purple, .btn-outline-purple:focus {
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.5);
}
.btn-check:checked + .btn-outline-purple, .btn-check:active + .btn-outline-purple, .btn-outline-purple:active, .btn-outline-purple.active, .btn-outline-purple.dropdown-toggle.show {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}
.btn-check:checked + .btn-outline-purple:focus, .btn-check:active + .btn-outline-purple:focus, .btn-outline-purple:active:focus, .btn-outline-purple.active:focus, .btn-outline-purple.dropdown-toggle.show:focus {
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.5);
}
.btn-outline-purple:disabled, .btn-outline-purple.disabled {
  color: #0d6efd;
  background-color: transparent;
}





/* slider */
